
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Medium.ttf') format('ttf');
    font-weight: 700;
    font-style: none;
}

.hello {
    color: red;
    font-family: 'Roboto';
    background: url('./icon.jpeg');
    background-repeat: no-repeat;
}